html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

main {
  height: 100%;
}

section {
  background-image: -webkit-linear-gradient(lightblue 10%, white 70%, green 95%);
  background-image: -o-linear-gradient(lightblue 10%, white 70%, green 95%);
  background-image: linear-gradient(lightblue 10%, white 70%, green 95%);
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.sunny {
	animation: sunny 15s linear infinite;
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	height: 10px;
	width: 20px;
	margin-left: -15px;
	position: absolute;
	left: 90px;
	top: 20px;
}
.sunny:before {
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	content: '';
	height: 10px;
	width: 0px;
	opacity: 1;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: rotate(90deg);
}
.sunny:after {
	background: #FFEE44;
	border-radius: 50%;
	box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
	content: '';
	height: 80px;
	width: 80px;
	position: absolute;
	left: -30px;
	top: 30px;
}

@keyframes lefttoright {
  0%   {left:-30%}
  100% {left:100%}
  opacity:0.75;
}
@keyframes righttoleft {
  0%   {right:-30%}
  100% {right:100%}
  opacity:0.75;
}


.cloud {
	width: 200px;
  height: 60px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
  /* animation-name: lefttoright; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
	position: absolute;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/* .cloud1 {
  animation-duration: 13s;
  opacity: 1.2;
  top: 150px;
}


.cloud2 {
  animation-duration: 17s;
  opacity: 0.8;
  top: 200px;
  animation-name: righttoleft;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cloud3 {
  animation-duration: 15s;
  opacity: 0.5;
  top: 230px;
}
.cloud4 {
  animation-duration: 22s;
  opacity: 0.6;
  top: 143px;
}
.cloud5 {
  animation-duration: 27s;
  opacity: 0.3;
  top: 280px;
}
.cloud6 {
  animation-duration: 14s;
  opacity: 0.7;
  top: 270px;
  animation-name: righttoleft;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cloud7 {
  animation-duration: 36s;
  opacity: 0.8;
  top: 183px;
}
.cloud8 {
  animation-duration: 9s;
  opacity: 0.65;
  top: 100px;
  animation-name: righttoleft;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} */
