section {
  background-image: -webkit-linear-gradient(lightblue 10%, white 75%, green 95%);
  background-image: -o-linear-gradient(lightblue 10%, white 75%, green 95%);
  background-image: linear-gradient(lightblue 10%, white 75%, green 95%);
  height: 700px;
  width: 400px;
}

.sunny {
	animation: pluse 15s linear infinite;
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	height: 10px;
	width: 20px;
	margin-left: -15px;
	position: absolute;
	left: 90px;
	top: 20px;
}
.sunny:before {
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	content: '';
	height: 10px;
	width: 0px;
	opacity: 1;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: rotate(90deg);
}
.sunny:after {
	background: #FFEE44;
	border-radius: 50%;
	box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
	content: '';
	height: 80px;
	width: 80px;
	position: absolute;
	left: -30px;
	top: 30px;
}
